<head>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    .blindify {
        min-width: 500px;
    }

    .col-left {
        border-right: 1px solid black;
    }

    #startButton {
        transition-duration: 0.3s;
        width: 150px;
        color: black;
        background-color: yellow;
        border-radius: 500px;
        padding: 1em;
        -moz-box-shadow: 2px 8px 5px 0px #656565;
        -webkit-box-shadow: 2px 8px 5px 0px #656565;
        -o-box-shadow: 2px 8px 5px 0px #656565;
        box-shadow: 2px 8px 5px 0px #656565;
    }

    #startButton.active {
        background-color: red;
        -moz-box-shadow: inset 2px 8px 5px 0px black;
        -webkit-box-shadow: inset 2px 8px 5px 0px black;
        -o-box-shadow: inset 2px 8px 5px 0px black;
        box-shadow: inset 2px 8px 5px 0px black;
    }

    #startButton:hover {
        cursor: pointer;
    }

    .start {
        right: 0;
    }

    .container {
        background-color: #ededed;
    }

    .githubLogo {
        width: 1em;
    }

    .option-render{
        background-image: url('./pictures/transparent.jpg');
        width: inherit;
    }

    #text-option-render{
        width: fit-content;
    }
</style>

<div class="container blindify">
    <h1 class="col-12 text-center">Blindify</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-6 col-left text-center">
            <div class="start">
                <h3 class="font-weight-bold">Start</h3>
                <img src="./pictures/speaker.svg" alt="Start button" class="img-fluid" id="startButton">
            </div>
        </div>
        <div class="col-6 text-center">
            <h3 class="font-weight-bold">Select your language:</h3>
            <select class="custom-select custom-select-lg mb-3">
                <option value="fr" selected>Français</option>
                <option value="en">English</option>
                <option value="sp">Español</option>
                <option value="ch">中国</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-11 m-auto">
            <h4><u>Options</u>:</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form>
                        <div>
                            <input type="checkbox" id="checkTextOption" checked>
                            <label for="customCheck1"><b>Text option:</b></label>
                        </div>
                        <div class="row text-center">
                            <div class="row col-12">
                                Text color: 
                                <input class="form-control col-2" type="color" value="#000000" id="textOption-color">
                            </div>
                            <div class="row col-12">
                                Text background: 
                                <input class="form-control col-2" type="color" value="#ffffff" id="textOption-background">
                            </div>
                            <div class="row col-12">
                                Text border: 
                                <input class="form-control col-2" type="color" value="#ff0000" id="textOption-border">
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <h6>You will see the text like this:</h6>
                            <div class="col text-center option-render">
                                <p id="text-option-render" class="m-auto">This is a text</p>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col text-right">
            <p class="m-0">Version 0.1</p>
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="../blindify.js" type="text/javascript"></script>